<footer>
    <h3>Made by Chyanne Robbins<span class="year"> 2022</span></h3>
    
    <div class="container" id="socialArt">
        <a href="https://www.linkedin.com/in/chyannerobbins/" class="fa fa-linkedin"></a>
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/channel/UCDdmGsaJySaaNgMqMmCtvtw" class="fa fa-youtube"></a>
        <a href="https://instagram.com/chylessworld" class="fa fa-instagram"></a>
    </div>

</footer>