<header>
    <!-- LOGO -->
    <h1 class ="logo">TRAVELMOIRE</h1>
    <!-- <h1 class="logo"><a href="/"style="text-decoration: none">TRAVELMOIRE</a></h1>  -->

    <!-- Header Links to Home and Login -->
    <div class="home"><a href="/">Home</a></div>
   
</header>
    
    
    
    
    
