<header>
    <!-- LOGO -->
    <h1 class ="logo">TRAVELMOIRE</h1>

    <!-- Header Links to Home and Login -->
    <div class="home"><a href="/">Home</a></div>
    <div class="home"><a href="/users">Login</a></div> 
</header>
    
    
    
    
    
