<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelMoire </title>
</head>
<body>
    <h1>TravelMoire</h1>
    <nav>
        <a href="/entries">View Your Experiences</a><br>
        <a href="/entries/New">Add A New Experience</a>
    </nav>
</body>
</html>