<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../views/partials/head')%>
</head>
<header>
    <%- include('../views/partials/header')%>
</header>
<body>
    <nav>
        <a href="/entries">View Your Experiences</a><br>
        <a href="/entries/New">Add A New Experience</a>
    </nav>
</body>
</html>