<!DOCTYPE html>
<html lang="en">
<!-- ------------------Partials----------------------->
 <%- include('../views/partials/head')%>
 <%- include('../views/partials/header')%>
<!---------------------Home page ---------------------->
<body>
    


<!-------------------Buttons on Homepage------------->
    <nav class ="buttons">
    <ul>   
    <form method="get" action="/entries/New">
        <button type="submit">Login with Google</button>
        </form>
    <form method="get" action="/entries">
        <button type="submit">Sign Up</button>
    </form>
    </ul>
    </nav>
</body>

</html>