<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelMoire</title>
</head>
<h1>Your Experiences</h1>
<body>
    
<main>
    <ul>
        <% for(let i = 0; i < entries.length; i++){ %>
        
            <a href="/entries/<%= entries[i]._id %>"><%= entries[i].location %></a>
            <br><a href="/entries/<%= entries[i]._id %>"><%= entries[i].image %></a>
        <% } %>
    </ul>
    
</main>
</body>
</html>