<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelMoire</title>
</head>
<body>
    <header>
        <h1>Create New Post</h1>
        <a href="/">Home</a>
    </header>
    <main>
        <div class="newContainer"> 
    <form action="/entries", method="POST"> 

    </div>
    <div class="field"> 
       <label for="location">City and State</label><br>
       <input type="text" name="location" placeholder="Add a Location" />
    </div>


    <div class="field"> 
        <label for="title">Title</label><input<br>
        <input type="text" name="title" placeholder="Name your experience" />
    </div>
    <div class="field"> 
       <label for="body">Description</label><br>
        <textarea name="body" cols="30" rows="10" placeholder="Share your travel experience"></textarea>
    </div>
    <div class="field"> 
        <label for="image">Images</label><br>
        <input type="formaction" name="image" placeholder="Upload Media" /><br>
    <div> 
        <br><button type="submit">Publish Experience</button>
    </div>
</form>
</div>
    </main>
</body>
</html>