<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<header>
     <h1>TravelMoire</h1>
</header>
<body> 
<main> 
    <h3>Login</h3>
     <h5>Don't have an account yet?
     <a href="users/New">Sign Up</a></h5>

     <div class="userContainer"> 
        <form action="/users", method="POST"> 
    
    
        <div class="field"> 
            <label for="email">Email Address</label><br>
            <input type="email" name="email" required />
        </div>

        <div class="field"> 
            <label for="password">Password</label><br>
            <input type="password" name="password" minlength="6" required /><br>
        <div> 
            <br><button type="submit">Login</button>
        </div>
    </form>
    </div>
</main>
</body>
</html>