<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<header>
    <%- include('../partials/header.ejs')%>
</header>
<body>
    <h3>Sign Up</h3>
    <h5>Already have an account? <a href="/users">Login</a></h5>
    <div class="newUserContainer"> 
        <form action="/users", method="POST"> 
    
        </div>
        <div class="field"> 
           <label for="username">Username:</label><br>
           <input type="text" name="username" placeholder="Create a username" />
        </div>
    
    
        <div class="field"> 
            <label for="email">Email Address:</label><br>
            <input type="email" name="email" placeholder="you@example.com" />
        </div>
        
        <div class="field"> 
            <label for="password">Password (6 characters minimum):</label><br>
            <input type="password" name="password" minlength="6" required /><br>
        <div> 
            <br><button type="submit">Create Account</button>
        </div>
    </form>
    </div>


</body>
</html>